.home {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0rem 10rem;
}
.home .logo {
	margin-top: 2.5rem;
	margin-bottom: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo img {
	width: 40px;
	
}
.home .container {
	/* display: flex; */
	height: 5rem;
	line-height: 9rem;
/* overflow: hidden; */
}
.home h3 {
	margin-top: 3.2rem;
	font-size: var(--medium-fz);
	font-weight: 700;
	margin-bottom: 3rem;
}
.home .container .first-text{
    font-size: var(--large-fz);
		font-weight: 700;
    padding: 0 auto;
	  /* font: bold var(--large-fz) ; */
    color: red;
    text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
                 #cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
                 #cad5e2 5px 5px 0;
}

.container {
	width: 100%;
	margin: 0 auto;
}
.home-img {
	margin-top: 1.5rem;
	
}

